/*GENERIC CSS*/
/*Centers element horizontally*/
.horizontal-center{
    margin-top: 50px;
    text-align: center;
}

/*Centers text and colours it black*/
p, h2{
    text-align: center;
    color: black;
}

/*Sets glyphicon sizes*/
.glyphicon {
    font-size: 200%;
}

/*Sets an element to be inline*/
.inline-elem{
    display: inline;
}

/* @media screen and (min-width: 768px) {
    .head-text {
        font-size: 250%;
        position: static;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        line-height: 0px;
    }
}

@media screen and (max-width: 767px) {
    .head-text {
        font-size: 150%;
        position: static;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        line-height: 0px;
    }
}

@media screen and (min-width: 768px) {
    .foot-text {
        font-size: 250%;
        position: static;
        margin-bottom: 1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        line-height: 3vw;
        transform: translate(0, -50%);
    }
}

@media screen and (max-width: 767px) {
    .foot-text {
        font-size: 150%;
        position: static;
        margin-top: 1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        line-height: 3vw;
        transform: translate(0, -50%);
    }
} */

/*Removes bottom margin*/
.noBottomMargin{
    margin-bottom: -10px;
}

/*Adds margin at the top and bottom of element*/
.addMargin{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Styling for body*/
body{
    padding: 0px;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/landing_page_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 16px Arial;  
}

/*Styles the page content between the header and footer*/
.page-content{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-height: 70vh;
    max-width: 90vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*Styles container for features on landing page*/
.floater {
    background-color: rgba(250, 253, 226, 0.5);
    border-radius: 8px;
}

/*HEADERS AND FOOTERS*/
/*Styles headers*/
#headers{
    text-align: center;
    background-color: darkgray;
    color: orange;
}

/*Styles size of header and footer*/
.header-footer-div{
    width: 100%;
    margin: 0;
    height: 1vh;
}

/*Styles color and position of header*/
.header-div{
    background-color: rgb(255, 167, 60);
    top: 0px;
}

/*Styles color and position of footer*/
.footer-div{
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    bottom: 0px;
}

/*Aligns header elements to be centered vertically*/
.align-center-up{
    transform: translate(0, -50%);
}

/*Aligns footer elements to be centered vertically*/
.align-center-down{
    transform: translate(0, 25%);
}

/* LIST PAGE CSS */
/*Styles section headers for list*/
.section-header{
    background-color: rgb(216, 136, 83);
    height: 5vw;
}

/*Styles section header's margin and border*/
.section-item{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 8px;
}

/*Styles section headers font*/
.section-heading {
    font-weight: bold;
    margin-top: 1vw;
}

/*Sets colour of list row and changes the user's cursor*/
.list-row {
    background-color:rgb(250, 253, 226);
    cursor: pointer;
}

/*Styles text in list rows*/
.list-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vw;
}

/*Sets height of list container*/
#listContainer{
    height: 50vw;
}

/*LOGIN CSS*/
/*Styles the login button's height*/
#loginButtonDiv{
    height: 30%;
}

/*Positions the authentication container*/
#firebaseui-auth-container{
    position: static;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/*ADD ASSIGNMENT FORM CSS*/
/*Style the label to display next to the inputs*/
label {
padding: 12px 12px 12px 0;
display: inline-block;
}

/*Style the submit button*/
input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
display: none;
}

/*Style the container*/
.form-container {
border-radius: 5px;
background-color:rgba(255, 255, 255, 0.3);
padding: 30px;
height: 70vh;
overflow-y: scroll;
}

/*Style the scrollbar for form container*/
.form-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

/*Style the scrollbar for form container*/
.form-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*Styles text area elements in form*/
textarea {
    width: 350px;
    height: 25%;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

/*Floating column for labels: 25% width*/
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

/*Floating column for inputs: 75% width*/
.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

/*Clear floats after the columns*/
.row:after {
content: "";
display: table;
clear: both;
}

/*Styling for responsiveness of form*/
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*AUTOCOMPLETE CSS*/
/*Styles all elements' box-sizing*/
* {
box-sizing: border-box;
}

/*Sets position of autocomplete container*/
.autocomplete {
position: relative;
display: inline-block;
}

/*Styles input elements*/
input {
border: 1px solid transparent;
background-color: #f1f1f1;
padding: 10px;
font-size: 16px;
}

/*Styles text input*/
input[type=text] {
background-color: #f1f1f1;
width: 350px;
overflow-x: scroll;
}

/*Styles autocomplete items*/
.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
top: 100%;
left: 0;
right: 0;
width: 350px;
}

/*Styles autocomplete items and divs*/
.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff; 
border-bottom: 1px solid #d4d4d4; 
}

/*Styling for when hovering over an item*/
.autocomplete-items div:hover {
background-color: #e9e9e9; 
}

/*Styling for when navigating through the items using the arrow keys*/
.autocomplete-active {
background-color: DodgerBlue !important; 
color: #ffffff; 
}

/*CALENDAR*/
/*Styling for an assignment that exists on a date on the calendar*/
.AssignmentExists {
    padding: 0.1em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 15px;
    background-color:rgb(255, 208, 0);

}

/*Styling for strike through*/
.strikethrough{
    text-decoration: line-through;
    background-color: lightgray;
}

/*???*/
.forFun {
    font-size: 0.001em;
}