.inline-elem{
    display: inline;
}

#headers{
    text-align: center;
    background-color: darkgray;
    color: orange;
}

.align-center-up{
    transform: translate(0, -50%);
}

.grad {
    background-image: linear-gradient(darkgrey, black);
    height: 10vh;
    margin-top: 0px;
    margin-bottom: 0px;
}
.headText {
    color: white;
    font-size: 200%;
    position: absolute;
    top: 1%;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;
}

.listText {
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
.container {
    height: 80vh;
    
}
.grad2 {
    background-image: linear-gradient(black, darkgray);
    height: 10vh;
    margin-bottom: 0px;
}
.colorGray {
    background-color: #626567;
}
.noBottomMargin{
    margin-bottom: 0px;
}
.listRow {
    background-color:rgba(36, 34, 34, 0.637);
}
.addMargin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.mainbody{
    background-color: black;
}